input {
  all: unset;
}
.contacts {
    padding:rem(120) rem(0) rem(120) rem(0);
    h2{
margin-bottom: rem(60);

    }
background: rgb(9, 124, 187);
		// .contacts__row

		&__row {
display: flex;
justify-content: space-between;
			// .contacts__row_content

			&_content {
                max-width: rem(550);
				@media (max-width: 1024px) {
					max-width: rem(400);
				}
                display: flex;
                flex-direction: column;
                gap: rem(20);
			}

			// .contacts__row_forms

			&_forms {
                
			}

			// .contacts__row_item

			&_item {
                display: flex;
                flex-direction: column;
			}

			// .contacts__row_label

			&_label {
                color: rgb(255, 255, 255);
				font-family: Rubik;
				font-size: rem(20);
				font-weight: 400;
				line-height: 140%;
				letter-spacing:rem(0);
				text-align: left;
				@media (max-width: 1024px) {
					font-size: rem(16);
				}
			}

			// .contacts__row_input

			&_input {
                background-color: rgb(9, 124, 187);
                outline: unset;
                border-bottom: rem(1) solid white;
                width: rem(280);
                padding:rem(6) rem(12);
                color: rgb(255, 255, 255);
font-family: Rubik;
font-size: rem(18);
font-weight: 300;
line-height: rem(33);
letter-spacing: rem(0);
text-align: left;
	@media (max-width: 1024px) {
					max-width: rem(160);
				}
			}
		}

		// .contacts__content

		&__content {

			// .contacts__content_title

			&_title {
                color: rgb(255, 255, 255);
font-family: Rubik;
font-size: rem(60);
font-weight: 500;
line-height: rem(71);
letter-spacing: rem(0);
text-align: left;
	@media (max-width: 1024px) {
					font-size: rem(36);
				}

			}

			// .contacts__content_city

			&_city {
                color: rgb(140, 216, 255);
font-family: Rubik;
font-size: rem(36);
font-weight: 400;
line-height: rem(43);
letter-spacing: rem(0);
text-align: left;
@media (max-width: 1024px) {
					font-size: rem(24);
				}
			}

			// .contacts__content_name

			&_name {
                color: rgb(255, 255, 255);
				font-family: Rubik;
				font-size: rem(28);
				font-weight: 300;
				line-height:rem(33);
				letter-spacing: rem(0);
				text-align: left;
				@media (max-width: 1024px) {
					font-size: rem(18);
				}
			}

			// .contacts__content_number

			&_number {
                color: rgb(255, 255, 255);
font-family: Rubik;
font-size: rem(28);
font-weight: 300;
line-height:rem(33);
letter-spacing: rem(0);
text-align: left;
@media (max-width: 1024px) {
					font-size: rem(18);
				}
			}

			// .contacts__content_adress

			&_adress {
                color: rgb(255, 255, 255);
				font-family: Rubik;
				font-size: rem(28);
				font-weight: 300;
				line-height:rem(33);
				letter-spacing: rem(0);
				text-align: left;
				@media (max-width: 1024px) {
					font-size: rem(18);
				}
			}

			// .contacts__content_link

			&_link {
				font-family: Rubik;
				font-size: rem(28);
				font-weight: 300;
				line-height:rem(33);
				letter-spacing: rem(0);
				text-align: left;
				color: #8CD8FF;
				@media (max-width: 1024px) {
					font-size: rem(18);
				}
			}
		}

		// .contacts__forms

		&__forms {

			// .contacts__forms_title

			&_title {
                color: rgb(255, 255, 255);
font-family: Rubik;
font-size: rem(60);
font-weight: 500;
line-height: rem(71);
letter-spacing: rem(0);
text-align: left;
@media (max-width: 1024px) {
					font-size: rem(36);
				}
			}

			// .contacts__forms_form

			&_form {
                      display: flex;
                flex-direction: column;
                gap: rem(40);
					@media (max-width: 1024px) {
					max-width: rem(400);
				}
			}
		}

		// .contacts__form

		&__form {

			// .contacts__form_row

			&_row {
                display: flex;
                justify-content: space-between;
			}

			// .contacts__form_textarea

			&_textarea {
                  display: flex;
                flex-direction: column;
                gap:rem(20);
			}
		}

		// .contacts__textarea

		&__textarea {

			// .contacts__textarea_name

			&_name {
                color: rgb(255, 255, 255);
				font-family: Rubik;
				font-size: rem(20);
				font-weight: 400;
				line-height: 140%;
				letter-spacing: rem(0);
				text-align: left;
				@media (max-width: 1024px) {
					font-size: rem(16);
				}
			}

			// .contacts__textarea_item

			&_item {
                box-sizing: border-box;
border: rem(1) solid rgb(255, 255, 255);
border-radius: rem(10);
width: rem(650);
height: rem(100);
font-family: Rubik;
font-size: rem(18);
font-weight: 300;
line-height: rem(33);
letter-spacing: rem(0);
text-align: left;
color: white;
padding: rem(12);
background: rgba(196, 196, 196, 0);
	@media (max-width: 1024px) {
					width: rem(400);
				}
                 resize: none;
                 &:focus{
                    outline: none;
                 }
			}

			// .contacts__textarea_btn

			&_btn {
                color: rgb(255, 255, 255);
                cursor: pointer;
				font-family: Rubik;
				font-size: rem(18);
				font-weight: 700;
				line-height: 140%;
				letter-spacing:rem(0);
				text-align: left;
				border-radius:rem(10);
				padding: rem(15) rem(30);
				background: rgb(25, 178, 255);
				align-self: flex-end;
				border:unset;
				@media (max-width: 1024px) {
					font-size: rem(16);
				}
			}
		}
}
