.footer {
    background: #00273B;
    padding: rem(35) rem(0) rem(65);
    // .footer__row
    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: 1024px) {
					flex-direction: column;
                    gap: rem(20);
				}
                
        // .footer__row_logo
        &_logo {}
        // .footer__row_right
        &_right {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: rem(50);
             @media (max-width: 530px) {
					flex-direction: column;
				}
        }
        // .footer__row_btn
        &_btn {}
    }
    // .footer__logo
    &__logo {
        // .footer__logo_item
        &_item {}
        // .footer__logo_img
        &_img {
             width: rem(232);
        }
    }
    // .footer__menu
    &__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: rem(424);
         @media (max-width: 530px) {
					flex-direction: column;
                    gap: rem(10);
				}
        // .footer__menu_item
        &_item {}
        // .footer__menu_link
        &_link {
            color: rgb(255, 255, 255);
            font-family: Rubik;
            font-size: rem(18);
            font-weight: 400;
            line-height: rem(17);
            letter-spacing: rem(0);
            text-align: left;
                @media (max-width: 530px) {
					 font-size: rem(16);
				}
        }
    }
    // .footer__btn
    &__btn {
        // .footer__btn_item
        &_item {
            display: inline-block;
            padding: rem(12) rem(44);
            color: rgb(255, 255, 255);
            font-family: Rubik;
            font-size: rem(18);
            font-weight: 400;
            line-height: rem(17);
            letter-spacing: rem(0);
            text-align: left;
            box-sizing: border-box;
            border: rem(1) solid rgb(9, 124, 187);
            border-radius: rem(20);
              @media (max-width: 530px) {
					 font-size: rem(16);
				}
        }
    }
}

.creator {
    background-color: black;
    padding: rem(15) rem(0);
}

.craeator {
    // .craeator__name
    &__name {
        color: rgb(255, 255, 255);
        font-family: Rubik;
        font-size: rem(14);
        font-weight: 400;
        line-height: rem(17);
        letter-spacing:rem(0);
        text-align: center;
    }
}