// .slick-bg {
//     position: fixed;
//     z-index: 2;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 148px;
//     filter: blur(4px);
//     background: rgba(255, 255, 255, 0.34);
// }
.header {
    // .header__row
    position: fixed;
    z-index: 3;
    width: 1000%;
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: rgba(255, 255, 255, 0);
    margin: 0 auto;
    transition: 0.3s all ease;
    &.active {
        background-color: rgb(255, 255, 255);
        box-shadow: rem(0) rem(2) rem(10) rem(0) rgba(0, 0, 0, 0.2);
    }
    &__row {
        padding: rem(40) rem(0);
        display: flex;
        justify-content: space-between;
        align-items: center;
        // .header__row_left
        &_left {
            display: flex;
            align-items: center;
            gap: rem(40);
        }
        // .header__row_logo
        &_logo {}
        // .header__row_contacts
        &_contacts {
            display: flex;
            gap: rem(20);
        }
        // .header__row_right
        &_right {
            display: flex;
            align-items: center;
            gap: rem(50);
        }
        // .header__row_menu
        &_menu {}
        // .header__row_btn
        &_btn {}
    }
    // .header__logo
    &__logo {
        // .header__logo_link
        &_link {}
        // .header__logo_img
        &_img {
            width: rem(232);
        }
    }
    // .header__contacts
    &__contacts {
        // .header__contacts_phone
        &_phone {
            color: rgb(0, 0, 0);
            font-family: Rubik;
            font-size: rem(18);
            font-weight: 400;
            line-height: rem(17);
            letter-spacing: rem(0);
            text-align: left;
        }
        // .header__contacts_city
        &_city {
            color: rgb(25, 178, 255);
            font-family: Rubik;
            font-size: rem(18);
            font-weight: 500;
            line-height: rem(17);
            letter-spacing: rem(0);
            text-align: left;
        }
    }
    // .header__menu
    &__menu {
        display: flex;
        width: rem(424);
        justify-content: space-between;
        // .header__menu_item
        &_item {}
        // .header__menu_link
        &_link {
            color: rgb(0, 0, 0);
            font-family: Rubik;
            font-size: rem(18);
            font-weight: 500;
            line-height: rem(17);
            letter-spacing: rem(0);
            text-align: left;
        }
    }
    // .header__btn
    &__btn {
        // .header__btn_item
        &_item {
            display: inline-block;
            padding: rem(12) rem(44);
            box-sizing: border-box;
            border: rem(1) solid rgb(9, 124, 187);
            border-radius: rem(20);
            color: rgb(0, 0, 0);
            font-family: Rubik;
            font-size: rem(18);
            font-weight: 400;
            line-height: rem(17);
            letter-spacing: rem(0);
            text-align: left;
        }
    }
}