// .slick-bg {
//     position: fixed;
//     z-index: 2;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 148px;
//     filter: blur(4px);
//     background: rgba(255, 255, 255, 0.34);
// }
.header {
    // .header__row
    @media (max-width: 530px) {
        display: none;
    }
    position: fixed;
    z-index: 3;
    width: 1000%;
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: rgba(255, 255, 255, 0);
    margin: 0 auto;
    transition: 0.3s all ease;
    &.active {
        background-color: rgb(255, 255, 255);
        box-shadow: rem(0) rem(2) rem(10) rem(0) rgba(0, 0, 0, 0.2);
    }
    &__row {
        padding: rem(40) rem(0);
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: 1024px) {
            flex-direction: column;
            gap: 10px;
            padding: rem(20) rem(0) rem(20);
        }
        // .header__row_left
        &_left {
            display: flex;
            align-items: center;
            gap: rem(40);
            @media (max-width: 1024px) {
                justify-content: space-between;
                width: 100%;
            }
        }
        // .header__row_logo
        &_logo {}
        // .header__row_contacts
        &_contacts {
            display: flex;
            gap: rem(20);
        }
        // .header__row_right
        &_right {
            display: flex;
            align-items: center;
            gap: rem(50);
            @media (max-width: 1024px) {
                justify-content: space-between;
                width: 100%;
            }
        }
        // .header__row_menu
        &_menu {}
        // .header__row_btn
        &_btn {}
    }
    // .header__logo
    &__logo {
        // .header__logo_link
        &_link {}
        // .header__logo_img
        &_img {
            width: rem(232);
            @media (max-width: 1024px) {
                width: rem(132);
            }
        }
    }
    // .header__contacts
    &__contacts {
        // .header__contacts_phone
        &_phone {
            color: rgb(0, 0, 0);
            font-family: Rubik;
            font-size: rem(18);
            font-weight: 400;
            line-height: rem(17);
            letter-spacing: rem(0);
            text-align: left;
            @media (max-width: 1024px) {
                font-size: rem(16);
            }
        }
        // .header__contacts_city
        &_city {
            color: rgb(25, 178, 255);
            font-family: Rubik;
            font-size: rem(18);
            font-weight: 500;
            line-height: rem(17);
            letter-spacing: rem(0);
            text-align: left;
            @media (max-width: 1024px) {
                font-size: rem(16);
            }
        }
    }
    // .header__menu
    &__menu {
        display: flex;
        width: rem(384);
        justify-content: space-between;
        // .header__menu_item
        &_item {}
        // .header__menu_link
        &_link {
            color: rgb(0, 0, 0);
            font-family: Rubik;
            font-size: rem(18);
            font-weight: 400;
            line-height: rem(17);
            letter-spacing: rem(0);
            text-align: left;
            transition: 0.3s all ease;
            &:hover{
            color: rgba(0, 0, 0, 0.581);

            }
            @media (max-width: 1024px) {
                font-size: rem(16);
            }
        }
    }
    // .header__btn
    &__btn {
        // .header__btn_item
        &_item {
            display: inline-block;
            padding: rem(12) rem(44);
            box-sizing: border-box;
            border: rem(1) solid rgb(9, 124, 187);
            border-radius: rem(20);
            color: rgb(0, 0, 0);
            font-family: Rubik;
            font-size: rem(18);
            font-weight: 400;
            line-height: rem(17);
            letter-spacing: rem(0);
            text-align: left;
            transition: 0.3s all ease;
            &:hover{
                background-color: rgb(9, 124, 187);
                color:white;
            }
            @media (max-width: 1024px) {
                font-size: rem(16);
                padding: rem(12) rem(40);
            }
        }
    }
}

.burger-menu {
    position: fixed;
    z-index: 3;
    width: 100%;
    padding: 20px 0px;
    &.active {
        background-color: white;
        box-shadow: rem(0) rem(2) rem(10) rem(0) rgba(0, 0, 0, 0.2);
    }
}

.burger-menu__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.burger {
    @include burger
}

@media (min-width:530px) {
    .burger-menu {
        display: none;
    }
}

.header__burger {
    display: none;
}

.header__burger.menu--active {
    display: block;
    position: absolute;
    right: -20px;
    top: -20px;
    background-color: white;
    z-index: 3;
    height: 100vh;
    padding: 90px 30px;
}

.burger__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.burger__link {
    color: rgb(0, 0, 0);
    font-family: Rubik;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0px;
    text-align: left;
}

.burger__overlay {
    display: none;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.201);
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
}

.burger__overlay.overlay--active {
    display: block;
}

body {
    overflow: hidden;
}