.swiper {
    width: 100%;
    height: 100%;
}

.mySwiper {}

.swiper-wrapper {}

.swiper-slide {
    background-position: center;
    background-size: cover;
}

.swiper-slide img {
    display: block;
    width: 100%;
}

.mainslider-slide {
    background-repeat: no-repeat;
    background-size: cover;
}

.swiper-bg {
    position: absolute;
    bottom: 0;
    left: 0;
}

.container {}

.mainslider {
    position: relative;
    // .mainslider__header
    &__header {
        padding-top: rem(284);
        padding-bottom: rem(439);
        // .mainslider__header_title
        &_title {
            max-width: rem(831);
            color: rgb(0, 0, 0);
            font-family: Rubik;
            font-size: rem(48);
            font-weight: 400;
            line-height: 140%;
            letter-spacing: rem(0);
            text-align: left;
            margin-bottom: rem(20);
        }
        // .mainslider__header_description
        &_description {
            max-width: rem(737);
            color: rgb(0, 0, 0);
            font-family: Rubik;
            font-size: rem(24);
            font-weight: 300;
            line-height: 140%;
            letter-spacing: rem(0);
            text-align: left;
        }
    }
}

.swiper-button-next {}

.swiper-button-prev {}

.swiper-pagination {
    display: flex;
    align-items: center;
    gap: rem(20);
    bottom: rem(280) !important;
    width: unset !important;
}

.swiper-pagination-bullet {
    width: rem(20);
    height: rem(20);
    color: rgb(9, 124, 187);
    font-family: Rubik;
    font-size: rem(24);
    font-weight: 400;
    line-height: rem(28);
    letter-spacing: rem(0);
    text-align: left;
    background: unset;
}

.swiper-pagination-bullet-active {
    color: #000000;
    font-size: rem(36);
}

.swiper-line {
    width: rem(20);
    height: rem(3);
    background-color: black;
    margin-top: rem(2);
    &:last-child {
        display: none;
    }
}