<div class="adminp">
    <div class="container">
        <div class="adminp__row">
            <div class="adminp__row_article">
                <div class="adminp__article_header">
                    <h2 class="adminp__header_title">
                        Добавление статей
                    </h2>
                </div>
                <div class="adminp__article_form">
                    <form action="#" class="adminp__form" enctype="multipart/form-data">
                        <div class="adminp__form_line">
                            <label for="" class="adminp__line_label">
                            Добавить картинку
                        </label>
                            <input type="file" class="adminp__line_input">
                        </div>
                        <div class="adminp__form_line">
                            <label for="" class="adminp__line_label">
                            Добавить заголовок
                        </label>
                            <input type="text" class="adminp__line_input">
                        </div>
                        <div class="adminp__form_line">
                            <label for="" class="adminp__line_label">
                            Добавить описание
                        </label>
                            <textarea name="" id="" class="adminp__line_textarea"></textarea>
                        </div>
                        <div class="adminp__form_btns">
                            <button class="adminp__btns_btn" type="submit">
                            Отправить
                        </button>
                        </div>
                    </form>
                </div>

            </div>
            <div class="adminp__row_contacts">
                <div class="adminp__contacts_header">
                    <h2 class="adminp__header_title">
                        Просмотр заявок
                    </h2>
                </div>
                <div class="adminp__contacts_form">
                    <form action="" class="adminp__form contactsf">
                        <div class="adminp__form_line">
                            <label for="" class="adminp__line_label">
                            Имя:
                        </label>
                            <p class="adminp__line_text">
                                Семён
                            </p>
                        </div>
                        <div class="adminp__form_line">
                            <label for="" class="adminp__line_label">
                            Телефон:
                        </label>
                            <p class="adminp__line_text">
                                89999999999
                            </p>
                        </div>
                        <div class="adminp__form_line">
                            <label for="" class="adminp__line_label">
                            Компания:
                        </label>
                            <p class="adminp__line_text">
                                Петрус ООО
                            </p>
                        </div>
                        <div class="adminp__form_line">
                            <label for="" class="adminp__line_label">
                            Почта:
                        </label>
                            <p class="adminp__line_text">
                                semen.gnedenkov@mail.ru
                            </p>
                        </div>
                        <div class="adminp__form_line">
                            <label for="" class="adminp__line_label">
                            Вопрос:
                        </label>
                            <p class="adminp__line_text">
                                Кто вы?
                            </p>
                        </div>
                        <div class="adminp__form_btns">
                            <button class="adminp__btns_btn red" type="submit">
                            Удалить
                        </button>
                        </div>
                    </form>
                    <form action="" class="adminp__form contactsf">
                        <div class="adminp__form_line">
                            <label for="" class="adminp__line_label">
                            Имя:
                        </label>
                            <p class="adminp__line_text">
                                Семён
                            </p>
                        </div>
                        <div class="adminp__form_line">
                            <label for="" class="adminp__line_label">
                            Телефон:
                        </label>
                            <p class="adminp__line_text">
                                89999999999
                            </p>
                        </div>
                        <div class="adminp__form_line">
                            <label for="" class="adminp__line_label">
                            Компания:
                        </label>
                            <p class="adminp__line_text">
                                Петрус ООО
                            </p>
                        </div>
                        <div class="adminp__form_line">
                            <label for="" class="adminp__line_label">
                            Почта:
                        </label>
                            <p class="adminp__line_text">
                                semen.gnedenkov@mail.ru
                            </p>
                        </div>
                        <div class="adminp__form_line">
                            <label for="" class="adminp__line_label">
                            Вопрос:
                        </label>
                            <p class="adminp__line_text">
                                Кто вы?
                            </p>
                        </div>
                        <div class="adminp__form_btns">
                            <button class="adminp__btns_btn red" type="submit">
                            Удалить
                        </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>