<div class="breadcrumbs">
    <div class="container">
        <ul class="breadcrumbs__line">
            <li class="breadcrumbs__line_item">
                <a href="" class="breadcrumbs__line_link">Главная / </a>
            </li>
            <li class="breadcrumbs__line_item">
                <a href="" class="breadcrumbs__line_link"> Пресс-центр / </a>
            </li>
            <li class="breadcrumbs__line_item">
                <a href="" class="breadcrumbs__line_link active"> Новость</a>
            </li>
        </ul>

        <div class="breadcrumbs__header">
            <div class="breadcrumbs__header_title">
                <h1 class="breadcrumbs__title_item">
                    С новым годом
                </h1>
            </div>
        </div>
    </div>
</div>