<header class="header">
    <div class="container">
        <div class="header__row">
            <div class="header__row_left">
                <div class="header__row_logo">
                    <a href="index.html" class="header__logo_link">
                        <img src="img/logo.svg" alt="" class="header__logo_img">
                    </a>
                </div>
                <div class="header__row_contacts">
                    <a href="#" class="header__contacts_phone">+7 (999) 999 99-99</a>
                    <a href="#" class="header__contacts_city">Омск</a>
                </div>
            </div>
            <div class="header__row_right">
                <div class="header__row_menu">
                    <ul class="header__menu">
                        <li class="header__menu_item">
                            <a href="" class="header__menu_link">Наша продукция</a>
                        </li>
                        <li class="header__menu_item">
                            <a href="states.html" class="header__menu_link">Пресс-центр</a>
                        </li>
                        <li class="header__menu_item">
                            <a href="" class="header__menu_link">Контакты</a>
                        </li>
                    </ul>
                </div>
                <div class="header__row_btn">
                    <a href="#" class="header__btn_item">Оставить заявку</a>
                </div>
            </div>
        </div>
    </div>

</header>
<div class="slick-bg">

</div>
<div class="burger-menu">
    <div class="container">
        <div class="burger-menu__row">
            <a href="index.html" class="header__logo_link">
                <img src="img/logo.svg" alt="" class="header__logo_img">
            </a>
            <div class="header__burger" data-menu>
                <nav class="burger__menu">
                    <ul class="burger__list">
                        <li class="burger__item">
                            <a href="#" class="burger__link">Наша продукция</a>
                        </li>
                        <li class="burger__item">
                            <a href="state.html" class="burger__link">Пресс-центр</a>
                        </li>
                        <li class="burger__item">
                            <a href="#" class="burger__link">Контакты</a>
                        </li>
                        <!-- <li class="burger__item">
                            <a href="contacts.html" class="burger__link">Контакты</a>
                        </li> -->
                    </ul>
                </nav>
            </div>


            <button class="burger" data-burger>
                <span class="burger__line"></span>
            </button>
        </div>
    </div>
    <div class="burger__overlay" data-menu-overlay></div>

</div>