<div class="form-container">
<form action="" class="form">
    <div class="form__line">
        <label for="" class="form__line_label">Логин</label>
        <input type="text" class="form__line_input">
    </div>
    <div class="form__line">
        <label for="" class="form__line_label">Пароль</label>
        <input type="text" class="form__line_input">
    </div>
    <div class="form__buttons">
        <button type="submit" class="form__buttons_button">
            Вход
        </button>
        
        <p class="form__buttons_text">
            Нет аккаунта?<a href="#" class="form__buttons_link">Зарегистрируйтесь</a>
        </p>
    </div>
</form>
    <img src="img/blueitem.png" alt="" class="blue-bg">
    
    </div>