<!-- Swiper -->
<div class="swiper mySwiper slidermain">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="mainslider-slide" style="background-image:url('img/bg1.png');">
                <div class="container">
                    <div class="mainslider__header">
                        <h2 class="mainslider__header_title" data-aos="fade-up" data-aos-duration="600">
                            ПЕТРУС и ПЭТ-индустрия России – 30 лет вместе
                        </h2>
                        <p class="mainslider__header_description" data-aos="fade-down" data-aos-duration="600">
                            Мы стояли у истоков российской индустрии упаковки, начиная свою работу в 1994 году. Сегодня ПЕТРУС — один из ведущих производителей ПЭТ-упаковки в России.
                        </p>
                    </div>
                </div>
                <img src="img/whitebg.png" alt="" class="swiper-bg">
            </div>
        </div>
        <div class="swiper-slide">
            <div class="mainslider-slide" style="background-image:url('img/bg2.png');">
                <div class="container">
                    <div class="mainslider__header">
                        <h2 class="mainslider__header_title" data-aos="fade-up" data-aos-duration="600">
                            ПЕТРУС и ПЭТ-индустрия России – 30 лет вместе
                        </h2>
                        <p class="mainslider__header_description">
                            Мы стояли у истоков российской индустрии упаковки, начиная свою работу в 1994 году. Сегодня ПЕТРУС — один из ведущих производителей ПЭТ-упаковки в России.
                        </p>
                    </div>
                </div>
            </div>
            <img src="img/whitebg.png" alt="" class="swiper-bg">
        </div>
        <div class="swiper-slide">
            <div class="mainslider-slide" style="background-image:url('img/bg3.png');">
                <div class="container">
                    <div class="mainslider__header">
                        <h2 class="mainslider__header_title" data-aos="fade-up" data-aos-duration="600">
                            ПЕТРУС и ПЭТ-индустрия России – 30 лет вместе
                        </h2>
                        <p class="mainslider__header_description">
                            Мы стояли у истоков российской индустрии упаковки, начиная свою работу в 1994 году. Сегодня ПЕТРУС — один из ведущих производителей ПЭТ-упаковки в России.
                        </p>
                    </div>
                </div>
            </div>
            <img src="img/whitebg.png" alt="" class="swiper-bg">
        </div>
        <div class="swiper-slide">
            <div class="mainslider-slide" style="background-image:url('img/bg4.png');">
                <div class="container">
                    <div class="mainslider__header">
                        <h2 class="mainslider__header_title" data-aos="fade-up" data-aos-duration="600">
                            ПЕТРУС и ПЭТ-индустрия России – 30 лет вместе
                        </h2>
                        <p class="mainslider__header_description">
                            Мы стояли у истоков российской индустрии упаковки, начиная свою работу в 1994 году. Сегодня ПЕТРУС — один из ведущих производителей ПЭТ-упаковки в России.
                        </p>
                    </div>
                </div>
            </div>
            <img src="img/whitebg.png" alt="" class="swiper-bg">

        </div>
    </div>
    <!-- <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div> -->
    <div class="container">
        <div class="swiper-pagination"></div>
    </div>
</div>