<div class="press">
    <div class="container">
        <div class="press__header">
            <h2 class="press__header_title">
                Пресс-центр
            </h2>
        </div>
        <div class="press__row">
            <div class="press__row_item">
                <div class="press__item_img">
                    <img src="img/eco.png" alt="" class="press__img_item">
                </div>
                <div class="press__row_content">
                    <div class="press__content_icon">
                        Статьи
                    </div>
                    <h3 class="press__content_name">
                        Более половины упаковки в России будет экологичной к 2025 году
                    </h3>
                    <p class="press__content_descripton">
                        По оценкам аналитиков Центра макроэкономического и регионального анализа и прогнозирования Россельхозбанка...
                    </p>
                    <a href="#" class="press__content_btn">
                        Подробнее >
                    </a>
                </div>
            </div>
            <div class="press__row_item">
                <div class="press__item_img">
                    <img src="img/eco.png" alt="" class="press__img_item">
                </div>
                <div class="press__row_content">
                    <div class="press__content_icon">
                        Статьи
                    </div>
                    <h3 class="press__content_name">
                        Более половины упаковки в России будет экологичной к 2025 году
                    </h3>
                    <p class="press__content_descripton">
                        По оценкам аналитиков Центра макроэкономического и регионального анализа и прогнозирования Россельхозбанка...
                    </p>
                    <a href="#" class="press__content_btn">
                        Подробнее >
                    </a>
                </div>
            </div>
        </div>
    </div>
    <img src="img/blueitem.png" alt="" class="blue-bg">
</div>