<div class="products">
    <div class="container">
        <div class="products__header">
            <div class="products__header_title">
                Наша продукция
            </div>
        </div>
        <div class="products__row">
            <div class="products__row_item">
                <img src="img/products1.png" alt="" class="products__item_img">
                <h3 class="products__item_name">Преформа</h3>
                <p class="products__item_description">Мы производим самый широкий ассортимент стандартных ПЭТ-преформ и создаём
                    новые актуальные дизайны упаковки, востребованные современным рынком. Преформы ПЕТРУС производятся методом
                    высокоточного литья под давлением</p>
                <a href="" class="products__item_btn">Подробнее ></a>
            </div>
            <div class="products__row_item">
                <img src="img/products2.png" alt="" class="products__item_img">
                <h3 class="products__item_name">Полимерные колпачки</h3>
                <p class="products__item_description">Удобные в использовании и надёжные полимерные колпачки обеспечивают герметичность и длительный срок хранения вашей
                продукции. Производятся методами литья под давлением и горячего формования. Возможность лазерного нанесения логотипов и
                промокодов для ваших трейд-активаций.</p>
                <a href="" class="products__item_btn">Подробнее ></a>
            </div>
            <div class="products__row_item">
                <img src="img/products3.png" alt="" class="products__item_img">
                <h3 class="products__item_name">Гибкая упаковка</h3>
                <p class="products__item_description">BOPET-плёнка надёжно предохраняет основную упаковку и продукцию от воздействия внешней среды, помогает сохранять
                потребительские свойства, увеличивает срок хранения продукта.</p>
                <a href="" class="products__item_btn">Подробнее ></a>
            </div>
        </div>
    </div>
</div>
<div class="success">
    <div class="container">
        <div class="success__header">
            <h2 class="success__header_title">
                Упаковка вашего успеха
            </h2>
        </div>
        <div class="success__row">
            <div class="success__row_item">
                <img src="img/water.png" alt="" class="success__item_img">
                <p class="success__item_name">ВОДА</p>
            </div>
            <div class="success__row_item">
                <img src="img/milk.png" alt="" class="success__item_img">
                <p class="success__item_name">МОЛОЧНАЯ
                ПРОДУКЦИЯ</p>
            </div>
            <div class="success__row_item">
                <img src="img/oil.png" alt="" class="success__item_img">
                <p class="success__item_name">ПИЩЕВЫЕ
                МАСЛА</p>
            </div>
            <div class="success__row_item">
                <img src="img/sauce.png" alt="" class="success__item_img">
                <p class="success__item_name">СОУСЫ</p>
            </div>
            <div class="success__row_item">
                <img src="img/drink.png" alt="" class="success__item_img">
                <p class="success__item_name">НАПИТКИ</p>
            </div>
            <div class="success__row_item">
                <img src="img/juce.png" alt="" class="success__item_img">
                <p class="success__item_name">СОКИ</p>
            </div>
            <div class="success__row_item">
                <img src="img/beer.png" alt="" class="success__item_img">
                <p class="success__item_name">ПИВО</p>
            </div>
            <div class="success__row_item">
                <img src="img/himik.png" alt="" class="success__item_img">
                <p class="success__item_name">БЫТОВАЯ ХИМИЯ
                И КОСМЕТИКА</p>
            </div>
        </div>
    </div>
</div> 