<div class="products">
    <div class="container">
        <div class="products__header">
            <div class="products__header_title">
                Наша продукция
            </div>
        </div>
        <div class="products__row">
            <div class="products__row_item">
                <img src="img/products1.png" alt="" class="products__item_img">
                <h3 class="products__item_name">Преформа</h3>
                <p class="products__item_description">Мы производим самый широкий ассортимент стандартных ПЭТ-преформ и создаём новые актуальные дизайны упаковки, востребованные современным рынком. Преформы ПЕТРУС производятся методом высокоточного литья под давлением</p>
                <a href="" class="products__item_btn">Подробнее ></a>
            </div>
        </div>
    </div>
</div>