<div class="pcontent">
    <div class="container">
        <div class="pcontent__column">
            <p class="pcontent__column_title">
                Преформы – это заготовки из полиэтилентерефталата для последующего выдува ПЭТ-контейнеров (бутылок). Они различаются по типу и диаметру горловины, весу, цвету и общей конфигурации.
            </p>
            <p class="pcontent__column_description">
                Вес преформ варьируется в зависимости от требуемой емкости упаковки. Получаемые из преформ контейнеры используются для хранения самых разнообразных жидкостей.
                <br><br> Для производства преформ мы используем метод высокоточного литья под давлением на современном инжекционно-литьевом оборудовании от ведущих мировых производителей.
                <br><br> Мы выпускаем как однослойные, так и многослойные преформы. Многослойные или барьерные преформы позволяют дольше хранить продукцию: имеющийся дополнительный слой между несколькими слоями ПЭТ защищает содержимое от ультрафиолета
                и других типов воздействия.
                <br><br> Наша компания выпускает полный ассортимент стандартных ПЭТ-преформ. Получаемые из них ПЭТ-контейнеры используются для транспортирования и хранения:
            </p>
            <ul class="pcontent__column_list">
                <li class="pcontent__list_item">питьевых и минеральных вод;</li>
                <li class="pcontent__list_item">газированных прохладительных напитков;</li>
                <li class="pcontent__list_item">соков, нектаров на основе соков;</li>
            </ul>
        </div>
    </div>
</div>