<div class="states">
    <div class="container">
        <div class="states__row">
            <div class="states__row_menu">
                <ul class="states__menu">
                    <li class="states__menu_item"><a href="#" class="states__menu_link">Все</a></li>
                    <li class="states__menu_item"><a href="#" class="states__menu_link">Новости</a></li>
                    <li class="states__menu_item"><a href="#" class="states__menu_link">Статьи</a></li>
                </ul>
            </div>
            <div class="states__row_items">
                <div class="press__row_item">
                    <div class="press__item_img">
                        <img src="img/eco.png" alt="" class="press__img_item">
                    </div>
                    <div class="press__row_content">
                        <div class="press__content_icon">
                            Статьи
                        </div>
                        <h3 class="press__content_name">
                            Более половины упаковки в России будет экологичной к 2025 году
                        </h3>
                        <p class="press__content_descripton">
                            По оценкам аналитиков Центра макроэкономического и регионального анализа и прогнозирования Россельхозбанка...
                        </p>
                        <a href="article.html" class="press__content_btn">
                            Подробнее >
                        </a>
                    </div>
                </div>
                <div class="press__row_item">
                    <div class="press__item_img">
                        <img src="img/eco.png" alt="" class="press__img_item">
                    </div>
                    <div class="press__row_content">
                        <div class="press__content_icon">
                            Статьи
                        </div>
                        <h3 class="press__content_name">
                            Более половины упаковки в России будет экологичной к 2025 году
                        </h3>
                        <p class="press__content_descripton">
                            По оценкам аналитиков Центра макроэкономического и регионального анализа и прогнозирования Россельхозбанка...
                        </p>
                        <a href="article.html" class="press__content_btn">
                            Подробнее >
                        </a>
                    </div>
                </div>
                <div class="press__row_item">
                    <div class="press__item_img">
                        <img src="img/eco.png" alt="" class="press__img_item">
                    </div>
                    <div class="press__row_content">
                        <div class="press__content_icon">
                            Статьи
                        </div>
                        <h3 class="press__content_name">
                            Более половины упаковки в России будет экологичной к 2025 году
                        </h3>
                        <p class="press__content_descripton">
                            По оценкам аналитиков Центра макроэкономического и регионального анализа и прогнозирования Россельхозбанка...
                        </p>
                        <a href="article.html" class="press__content_btn">
                            Подробнее >
                        </a>
                    </div>
                </div>
                <div class="press__row_item">
                    <div class="press__item_img">
                        <img src="img/eco.png" alt="" class="press__img_item">
                    </div>
                    <div class="press__row_content">
                        <div class="press__content_icon">
                            Статьи
                        </div>
                        <h3 class="press__content_name">
                            Более половины упаковки в России будет экологичной к 2025 году
                        </h3>
                        <p class="press__content_descripton">
                            По оценкам аналитиков Центра макроэкономического и регионального анализа и прогнозирования Россельхозбанка...
                        </p>
                        <a href="article.html" class="press__content_btn">
                            Подробнее >
                        </a>
                    </div>
                </div>
                <div class="press__row_item">
                    <div class="press__item_img">
                        <img src="img/eco.png" alt="" class="press__img_item">
                    </div>
                    <div class="press__row_content">
                        <div class="press__content_icon">
                            Статьи
                        </div>
                        <h3 class="press__content_name">
                            Более половины упаковки в России будет экологичной к 2025 году
                        </h3>
                        <p class="press__content_descripton">
                            По оценкам аналитиков Центра макроэкономического и регионального анализа и прогнозирования Россельхозбанка...
                        </p>
                        <a href="article.html" class="press__content_btn">
                            Подробнее >
                        </a>
                    </div>
                </div>
                <div class="press__row_item">
                    <div class="press__item_img">
                        <img src="img/eco.png" alt="" class="press__img_item">
                    </div>
                    <div class="press__row_content">
                        <div class="press__content_icon">
                            Статьи
                        </div>
                        <h3 class="press__content_name">
                            Более половины упаковки в России будет экологичной к 2025 году
                        </h3>
                        <p class="press__content_descripton">
                            По оценкам аналитиков Центра макроэкономического и регионального анализа и прогнозирования Россельхозбанка...
                        </p>
                        <a href="article.html" class="press__content_btn">
                            Подробнее >
                        </a>
                    </div>
                </div>
                <div class="press__row_item">
                    <div class="press__item_img">
                        <img src="img/eco.png" alt="" class="press__img_item">
                    </div>
                    <div class="press__row_content">
                        <div class="press__content_icon">
                            Статьи
                        </div>
                        <h3 class="press__content_name">
                            Более половины упаковки в России будет экологичной к 2025 году
                        </h3>
                        <p class="press__content_descripton">
                            По оценкам аналитиков Центра макроэкономического и регионального анализа и прогнозирования Россельхозбанка...
                        </p>
                        <a href="article.html" class="press__content_btn">
                            Подробнее >
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>