<div class="statec">
    <div class="container">
        <div class="statec__row">
            <div class="statec__row_img">
                <img src="img/steteimg.png" alt="" class="statec__img_item">
            </div>
            <div class="statec__row_content">
                <h2 class="statec__content_title">
                    Дорогие наши партнеры и друзья!
                </h2>
                <p class="statec__content_description">
                    Поздравляем Вас с наступающим Новым годом и Рождеством!
                    <br><br> Желаем счастья, благополучия и процветания в бизнесе, сопутствующей удачи, изобилия клиентов и праздничного настроения!
                    <br><br> Пусть в наступающем году будете здоровы Вы и Ваши близкие!
                    <br><br> Мы ценим наши дружеские и деловые отношения, а также искренне надеемся на их успешное продолжение!
                </p>
                <a href="#" class="statec__content_link">
                    < К списку новостей</a>
            </div>
        </div>
    </div>
    <img src="img/blueitem.png" alt="" class="blue-bg">
</div>